<footer class="footer">
	<div class="container">
	<div class="row">
	  <div>

	<small>
		<a>© 2013 A.Amine</a>
	</small>
	<nav>
		<ul>
			<li><%= link_to "About", "#" %></li>
			<li><%= link_to "Contact", "#" %></li>
			<li><a>Put text Here</a></li>
		</ul>
	</nav>
</div>
</div>
</div>
</footer>